[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugomods/images"]
	path = hugomods/images
	url = https://github.com/hugomods/images.git
